In [5]:
import pandas as pd

# Pands Series Data structure

In [6]:
#Create a Pandas Series
ser1 = pd.Series((2,4,5,4,1))
ser1

0    2
1    4
2    5
3    4
4    1
dtype: int64

In [7]:
#Create Series with Dictionary
d = {'a':1, 'b':2, 'c':3}
ser2 = pd.Series(data=d)
ser2

a    1
b    2
c    3
dtype: int64

# Importing Data

File Types are:<ul>
    <li>XLSX use <code>pd.read_excel(...)</code></li>
    <li>CSV - Use <code>pd.read_csv(...)</code></li>
    <li>JSON Use <code>pd.read_jason(...)</code></li>
    <li>HTML Use <code>pd.read_html(...)</code></li>
    <li>SQL use <code>pd.read_sql(...)</code></li>
    <li>HDFS</li>
    <li>SAS</li>
    <li>SPSS</li>
    </ul>

# DataFrame Data Structure

In [4]:
tabs = pd.read_html("https://en.wikipedia.org/wiki/Vienna,_Virginia")
tabs

[                                     Vienna, Virginia  \
 0                                                Town
 1                              Street scene in Vienna
 2   .mw-parser-output .ib-settlement-cols{text-ali...
 3      Location of Vienna in Fairfax County, Virginia
 4   .mw-parser-output .locmap .od{position:absolut...
 5   Coordinates: .mw-parser-output .geo-default,.m...
 6                                             Country
 7                                               State
 8                                              County
 9                                        Incorporated
 10                                            Settled
 11                                         Government
 12                                             • Type
 13                                            • Mayor
 14                                     • Town manager
 15                                            Area[1]
 16                                            • Total
 17                                             • Land
 18                                            • Water
 19                                          Elevation
 20                               Population (2010)[2]
 21                                            • Total
 22                               • Estimate (2019)[3]
 23                                          • Density
 24                                          Time zone
 25                                     • Summer (DST)
 26                                          ZIP codes
 27                                       Area code(s)
 28                                          FIPS code
 29                                    GNIS feature ID
 30                                            Website

                                    Vienna, Virginia.1
 0                                                Town
 1                              Street scene in Vienna
 2   .mw-parser-output .ib-settlement-cols{text-ali...
 3      Location of Vienna in Fairfax County, Virginia
 4   .mw-parser-output .locmap .od{position:absolut...
 5   Coordinates: .mw-parser-output .geo-default,.m...
 6                                       United States
 7                                            Virginia
 8                                             Fairfax
 9                                                1890
 10                                               1754
 11                                         Government
 12                         Council-manager government
 13                     Linda J. Colbert (Nonpartisan)
 14                                     Mercury Payton
 15                                            Area[1]
 16                             4.41 sq mi (11.42 km2)
 17                             4.40 sq mi (11.40 km2)
 18                              0.01 sq mi (0.02 km2)
 19                                     358 ft (109 m)
 20                               Population (2010)[2]
 21                                              15687
 22                                              16485
 23                      3,760.16/sq mi (1,451.69/km2)
 24                              UTC−5 (Eastern (EST))
 25                                        UTC−4 (EDT)
 26                                 22180-22183, 22185
 27                                        571 and 703
 28                                        51-81072[4]
 29                                         1500258[5]
 30                                   www.viennava.gov  ,
       Historical population                                                    \
                      Census                     Pop.       Unnamed: 2_level_1
 0                      1880                      136                      NaN
 1                      1900                      317                      NaN
 2                      1910                      578                      NaN
 3                      1920                      773                      NaN
 4                      1930                      903                      NaN
 5                      1940                     1237                      NaN
 6                      1950                     2029                      NaN
 7                      1960                    11440                      NaN
 8                      1970                    17146                      NaN
 9                      1980                    15469                      NaN
 10                     1990                    14852                      NaN
 11                     2000                    14453                      NaN
 12                     2010                    15687                      NaN
 13              2019 (est.)                    16485                      [3]
 14  * U.S. Decennial Census  * U.S. Decennial Census  * U.S. Decennial Census


                          %±
 0                         —
 1                         —
 2                     82.3%
 3                     33.7%
 4                     16.8%
 5                     37.0%
 6                     64.0%
 7                    463.8%
 8                     49.9%
 9                     −9.8%
 10                    −4.0%
 11                    −2.7%
 12                     8.5%
 13                     5.1%
 14  * U.S. Decennial Census  ,
     0                                                  1
 0 NaN  This section needs additional citations for ve...,
     #                                          Employer # of Employees
 0   1                         Navy Federal Credit Union         2,500+
 1   2                     Fairfax County Public Schools        500–999
 2   3             Contemporary Electrical Services, Inc        100–249
 3   4                                       Giant Foods        100–249
 4   5                          Whole Foods Market Group        100–249
 5   6                                    Town of Vienna        100–249
 6   7                             Westwood Country Club        100–249
 7   8                  Wheat's Lawn and Custom Land Inc        100–249
 8   9  The Hope Center for Advanced Veterinary Medicine        100–249
 9  10                               U.S. Postal Service          50–99,
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Vienna,...,
     0                                                  1
 0 NaN  Wikivoyage has a travel guide for Vienna (Virg...,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteMunicipalities and communities of Fairfax County, Virginia, United States  \
 0                               County seat: Fairfax
 1                                              Towns
 2                                               CDPs
 3                                   Othercommunities
 4                                      Ghost town(s)
 5               Virginia portal United States portal

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteMunicipalities and communities of Fairfax County, Virginia, United States.1  \
 0                               County seat: Fairfax
 1                             Clifton Herndon Vienna
 2  Annandale Bailey's Crossroads Belle Haven Brad...
 3  Accotink Arcturus Barkers Crossroads Blevinsto...
 4                                       Matildaville
 5               Virginia portal United States portal

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteMunicipalities and communities of Fairfax County, Virginia, United States.2
 0                               County seat: Fairfax
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4                                                NaN
 5               Virginia portal United States portal                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ,
                                vte Towns in Virginia  \
 0  Abingdon Accomac Alberta Altavista Amherst App...

                              vte Towns in Virginia.1
 0  Abingdon Accomac Alberta Altavista Amherst App...  ,
   vte Commonwealth of Virginia  \
 0           Richmond (capital)
 1                       Topics
 2                      Culture
 3                      Regions
 4                  Metro areas
 5                     Counties
 6            Independentcities
 7              Virginia portal

                       vte Commonwealth of Virginia.1  \
 0                                 Richmond (capital)
 1  Outline Administrative divisions Climate Colon...
 2  Crime Demographics Economy Education Colleges ...
 3  Allegheny Mountains Atlantic Coastal Plain Blu...
 4  Blacksburg-Christiansburg Bluefield Bristol Ch...
 5  Accomack Albemarle Alleghany Amelia Amherst Ap...
 6  Alexandria Bristol Buena Vista Charlottesville...
 7                                    Virginia portal

   vte Commonwealth of Virginia.2
 0             Richmond (capital)
 1               Seal of Virginia
 2               Seal of Virginia
 3               Seal of Virginia
 4               Seal of Virginia
 5               Seal of Virginia
 6               Seal of Virginia
 7                Virginia portal  ,
     Authority control                      Authority control.1
 0             General                          VIAF 1 WorldCat
 1  National libraries                            United States
 2               Other  MusicBrainz area National Archives (US)]

In [7]:
import mysql.connector as sql

dbconn = sql.connect(host='localhost', user='root', passwd='skitaos1', database='neural-nfl-data', auth_plugin='mysql_native_password')
ret_df = pd.read_sql('select * from games', dbconn)
ret_df

/Users/stevefurlong/opt/anaconda3/envs/ml-sandbox-venv/lib/python3.10/site-packages/pandas/io/sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr
0,NaN,NaN,NaN,None,None,None,None
1,NaN,NaN,NaN,None,None,None,None
2,NaN,NaN,NaN,None,None,None,None
3,NaN,NaN,NaN,None,None,None,None
4,NaN,NaN,NaN,None,None,None,None
...,...,...,...,...,...,...,...
1523,2.021010e+09,2020.0,17.0,01/03/2021,16:25:00,DEN,LV
1524,2.021010e+09,2020.0,17.0,01/03/2021,16:25:00,HOU,TEN
1525,2.021010e+09,2020.0,17.0,01/03/2021,16:25:00,IND,JAX
1526,2.021010e+09,2020.0,17.0,01/03/2021,16:25:00,LA,ARI
1527,2.021010e+09,2020.0,17.0,01/03/2021,16:25:00,SF,SEA

# General Pandas Functions

## Melt Function

Converts to/from Wide and Long formats.  Similar to Pivot concept
<br>
Wide Format
<table>
<tr><td>Name</td><td>weight</td><td>BP</td></tr>
<tr><td>john</td><td>150</td><td>120</td></tr>
<tr><td>Jeff</td><td>170</td><td>130</td></tr>
</table>
Long Format
<table>
<tr><td>Name</td><td>key</td><td>Value</td></tr>
<tr><td>john</td><td>weight</td><td>150</td></tr>
<tr><td>john</td><td>BP</td><td>120</td></tr>
<tr><td>Jeff</td><td>weight</td><td>170</td></tr>
<tr><td>Jeff</td><td>BP</td><td>130</td></tr>
</table>

In [16]:
#Switch from Wide format to Long format.
df = pd.DataFrame({'Name':['john','jeff'], 'weight':[150,170],'BP':[120,130]})
print(df)
melt_df = pd.melt(df, id_vars=['Name'], value_vars=['weight','BP'])
melt_df

   Name  weight   BP
0  john     150  120
1  jeff     170  130

   Name variable  value
0  john   weight    150
1  jeff   weight    170
2  john       BP    120
3  jeff       BP    130

## Pivot Function

In [17]:
#Get back to the Wide Format!
pivot_df = melt_df.pivot(index='Name', columns=['variable'], values='value')
pivot_df

variable   BP  weight
Name
jeff      130     170
john      120     150

# Cross Tabulation
Used to Quantitatively analyze variables.  Also analyze the relationship between Categorical columns.<br>
Kinda like a group by function in SQL

In [23]:
import numpy as np
# creating arrays
a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
              "bar", "bar", "foo", "foo", "foo"], dtype=object)
b = np.array(["one", "one", "one", "two", "one", "one",
              "one", "two", "two", "two", "one"], dtype=object)
c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
              "shiny", "dull", "shiny", "shiny", "shiny"],
             dtype=object)
print(a)
print(b)
print(c)
crosstab_df = pd.crosstab(a, [b,c], rownames=['a'], colnames=['b','c'])
crosstab_df

['foo' 'foo' 'foo' 'foo' 'bar' 'bar' 'bar' 'bar' 'foo' 'foo' 'foo']
['one' 'one' 'one' 'two' 'one' 'one' 'one' 'two' 'two' 'two' 'one']
['dull' 'dull' 'shiny' 'dull' 'dull' 'shiny' 'shiny' 'dull' 'shiny'
 'shiny' 'shiny']

b    one        two
c   dull shiny dull shiny
a
bar    1     2    1     0
foo    2     2    1     2

## Binning
Groups data into Bins or Buckets
<br>Also used to convert numerical data to categorical data

In [28]:
import numpy as np

#Binning uses the Cust function
cut_ret1 = pd.cut(np.array([1,7,5,4,6,3]),3)
print(cut_ret1)
cut_ret2 = pd.cut(np.array([1,7,5,4,6,3]),3, labels=['low', 'med', 'high'])
print(cut_ret2)

[(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.994, 3.0]]
Categories (3, interval[float64, right]): [(0.994, 3.0] < (3.0, 5.0] < (5.0, 7.0]]
['low', 'high', 'med', 'med', 'high', 'low']
Categories (3, object): ['low' < 'med' < 'high']

## Merge & Concat Functions
Must have a common unique key in each table to be merged<br>
Options: Left-Join, Right-Join, Inner-Join, Outer-Join, or Cross-Join

In [31]:
# creating 1st dataframe
df1 = pd.DataFrame({'pincode':[249201,175131,263136,246171,171004], 
                   'city_name':['Rishikesh','Manali','Bhimtal', 'Rudraprayag','Shimla'],
                   'distance_from_delhi':[230,543,321, 370,343]})
# creating 2nd dataframe
df2 = pd.DataFrame({'pincode':[249201,175131,263001],
                   'district':['Dehradun','Kullu','Nainital'],
                   'State':['Uttarakhand','Himachal Pradesh','Uttarakhand']})
#Left Join
merge_df = pd.merge(df1, df2, how='left', on='pincode')
print(merge_df)

#Right Join
merge_df = pd.merge(df1, df2, how='right', on='pincode')
print(merge_df)

   pincode    city_name  distance_from_delhi  district             State
0   249201    Rishikesh                  230  Dehradun       Uttarakhand
1   175131       Manali                  543     Kullu  Himachal Pradesh
2   263136      Bhimtal                  321       NaN               NaN
3   246171  Rudraprayag                  370       NaN               NaN
4   171004       Shimla                  343       NaN               NaN
   pincode  city_name  distance_from_delhi  district             State
0   249201  Rishikesh                230.0  Dehradun       Uttarakhand
1   175131     Manali                543.0     Kullu  Himachal Pradesh
2   263001        NaN                  NaN  Nainital       Uttarakhand

In [32]:
#Now lets try Concat
# dataframes having the same columns
df1 = pd.DataFrame({'Name': ['Arijit', 'Neeraj', 'Sakshi', 'Muskan'],
                    'Age': [34, 30, 22, 33],
                    'Gender': ['M', 'M', 'F', 'M']}
                  )

df2 = pd.DataFrame({'Name': ['Kartik', 'Veer', 'Preeti'],
                    'Age': [31, 22, 19],
                    'Gender': ['M', 'M', 'F']}
                  )
df = pd.concat([df1, df2], axis = 0)
df

     Name  Age Gender
0  Arijit   34      M
1  Neeraj   30      M
2  Sakshi   22      F
3  Muskan   33      M
0  Kartik   31      M
1    Veer   22      M
2  Preeti   19      F

## Handling Missing Values
Types of Missing Values
<ul>
    <li>MCAR - Missing Completely At Random - no pattern</li>
    <li>MAR - Missing At Random - some association with other features</li>
    <li>MNAR - Missing Not At Random</li>
</ul>

In [40]:
dict1 = {'col1':[2019,2019,2020],'col2':[350,365,1],'col3':[None,365,None]}
df = pd.DataFrame(dict1)
print(df, "\n")

#Find count of NaN values 
print(df.isnull().sum(),"\n")

#Also can use "any" function
print(df.isnull().any())

   col1  col2   col3
0  2019   350    NaN
1  2019   365  365.0
2  2020     1    NaN

col1    0
col2    0
col3    2
dtype: int64

col1    False
col2    False
col3     True
dtype: bool

## Data Type Conversion
For example string to numeric

In [51]:
dict1 = {'col1':[1,2],'col2':[3,4]}
df = pd.DataFrame(data=dict1)
print(df, "\n")

print(df.dtypes, "\n")
df = df.astype('int32')
print(df.dtypes, "\n")

df['col1'] = df['col1'].astype(str)
print(df.dtypes, "\n")

   col1  col2
0     1     3
1     2     4

col1    int64
col2    int64
dtype: object

col1    int32
col2    int32
dtype: object

col1    object
col2     int32
dtype: object

## Evaluate complex Equasions in PD with "eval" function

In [58]:
df = pd.DataFrame([[2,3],[5,1],[4,5]],columns=['A','B'])
print(df, "\n")

eq = '(A + 3) / B'
print (df.eval(eq), "\n")

   A  B
0  2  3
1  5  1
2  4  5

0    1.666667
1    8.000000
2    1.400000
dtype: float64

# Pandas Series
Series are a one dimensional array

parameters(data = "array, iterable, dict, or scalar", index =  )


## Series have Attributes


|``Attributes``|	|``Description``|
|--------------|----|---------------|
|Series.index|	|Defines the index of the Series.|
|Series.shape|	|It returns a tuple of shape of the data.|
|Series.dtype|	|It returns the data type of the data.|
|Series.size|	|It returns the size of the data.|
|Series.empty|	|It returns True if Series object is empty, otherwise returns false.|
|Series.hasnans|	|It returns True if there are any NaN values, otherwise returns false.|
|Series.nbytes|	|It returns the number of bytes in the data.|
|Series.ndim|	|It returns the number of dimensions in the data.|

In [62]:
ps = pd.Series(['Ganga', 'yamuna', 'Gomiti', 'Koshi', 'Godavari','Kaveri'])
print(ps, "\n")

print(ps.index, "\n")
print(ps.shape, "\n")
print(ps.dtype, "\n")
print(ps.size, "\n")
print(ps.empty, "\n")
print(ps.hasnans, "\n")
print(ps.nbytes, "\n")
print(ps.ndim, "\n")

0       Ganga
1      yamuna
2      Gomiti
3       Koshi
4    Godavari
5      Kaveri
dtype: object

RangeIndex(start=0, stop=6, step=1)

(6,)

object

6

False

False

48

1

## Indexing and Iteration in Pandas Series

python index start at 0

Can use ranges using "loc[]" and "iloc[]"

In [82]:

ps = pd.Series(['Ganga', 'yamuna', 'Gomiti', 'Koshi', 'Godavari','Kaveri'], index = ['a','b','c','d','e','f'])
print(ps, "\n")

#Location Based Indexing
print(ps['b'])
print("Index [b] \n", ps.loc['b'],"\n")
print("Index [a:d] \n", ps.loc['a':'d'],"\n")
print("Index ['a':'f':2] \n", ps.loc['a':'f':2],"\n") #Stride it by 2

# Integer Location Based Indexing
print(ps['b'])
print("Index [0] \n", ps.iloc[0],"\n")
print("Index [2:] \n", ps.iloc[2:],"\n")
print("Index [:2] \n", ps.iloc[:2],"\n")
print("Index [:] \n", ps.iloc[:],"\n")
print("Index [::2] \n", ps.iloc[::2],"\n") #Stride it by 2

a       Ganga
b      yamuna
c      Gomiti
d       Koshi
e    Godavari
f      Kaveri
dtype: object

yamuna
Index [b]
 yamuna

Index [a:d]
 a     Ganga
b    yamuna
c    Gomiti
d     Koshi
dtype: object

Index ['a':'f':2]
 a       Ganga
c      Gomiti
e    Godavari
dtype: object

yamuna
Index [0]
 Ganga

Index [2:]
 c      Gomiti
d       Koshi
e    Godavari
f      Kaveri
dtype: object

Index [:2]
 a     Ganga
b    yamuna
dtype: object

Index [:]
 a       Ganga
b      yamuna
c      Gomiti
d       Koshi
e    Godavari
f      Kaveri
dtype: object

Index [::2]
 a       Ganga
c      Gomiti
e    Godavari
dtype: object

In [83]:
# iterating over all the elements
for i in ps.iteritems():
    print(i)

('a', 'Ganga')
('b', 'yamuna')
('c', 'Gomiti')
('d', 'Koshi')
('e', 'Godavari')
('f', 'Kaveri')

## Binary Operations on Pandas Series

In [86]:
# creating two pandas series
s1 = pd.Series([2,4,6,1,6,0])
s2 = pd.Series([5,1,7,4,2,3])

#Addition
print (s1 + s2)
print (s1.add(s2))

#Subtraction
print (s1 - s2)
print (s1.sub(s2))

#Muliplication & Division is also available

0     7
1     5
2    13
3     5
4     8
5     3
dtype: int64
0     7
1     5
2    13
3     5
4     8
5     3
dtype: int64
0   -3
1    3
2   -1
3   -3
4    4
5   -3
dtype: int64
0   -3
1    3
2   -1
3   -3
4    4
5   -3
dtype: int64

## Groupby Function in Pandas
A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

In [92]:
# creating a series
ser = pd.Series([390., 350., 30., 20.],
        index=['Falcon', 'Falcon', 'Parrot', 'Parrot'], name="Max Speed")
print(ser, "\n")

ser.groupby(['a', 'a','b','b']).mean()

Falcon    390.0
Falcon    350.0
Parrot     30.0
Parrot     20.0
Name: Max Speed, dtype: float64

a    370.0
b     25.0
Name: Max Speed, dtype: float64

## Window Function
Expanding and Rollinw Windows

In [96]:
# creating a series
s = pd.Series([2,4,7,3,1,8,4,2,5])
print (s, "\n")

#Sums the two preceeding values.
print(s.rolling(window=2).sum(), "\n")

s.expanding(min_periods = 2).sum()

0    2
1    4
2    7
3    3
4    1
5    8
6    4
7    2
8    5
dtype: int64

0     NaN
1     6.0
2    11.0
3    10.0
4     4.0
5     9.0
6    12.0
7     6.0
8     7.0
dtype: float64

0     NaN
1     6.0
2    13.0
3    16.0
4    17.0
5    25.0
6    29.0
7    31.0
8    36.0
dtype: float64